mixin header(active, boxed)
  header.header
    include header-top
    div(class=boxed ? 'menu-wrapper menu-sticky menu-boxed' : 'menu-wrapper menu-sticky')
      div(class=boxed ? 'container' : 'container-full')
        .menu-container
          div(class=boxed ? 'container-full' : 'container')
            #menuzord.menuzord.relative
              a.menuzord-brand(href='index.html').hidden-lg.hidden-md
                img(src='images/logo.png')
              ul.menuzord-menu
                li(class=active == 'trang-chu' ? 'active' : '')
                  a(href='index.html') Trang chủ
                li(class=active == 'gioi-thieu' ? 'active' : '')
                  a(href='#') Giới Thiệu
                  .megamenu
                    .megamenu-inner
                      .owl-carousel.owl-product
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-01.png', alt='')
                            h4.box-title
                              a(href='#', title='') Giới thiệu chung
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-02.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tầm nhìn và sứ mệnh
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-03.png', alt='')
                            h4.box-title
                              a(href='#', title='') ban lãnh đạo
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-04.png', alt='')
                            h4.box-title
                              a(href='#', title='') thành tích
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-05.png', alt='')
                            h4.box-title
                              a(href='#', title='') văn phòng
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-06.png', alt='')
                            h4.box-title
                              a(href='#', title='') quá trình phát triển
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-07.png', alt='')
                            h4.box-title
                              a(href='#', title='') sơ đồ tổ chức
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') nhà máy
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') hồ sơ công ty
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-010.png', alt='')
                            h4.box-title
                              a(href='#', title='') thư viện
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-01.png', alt='')
                            h4.box-title
                              a(href='#', title='') Giới thiệu chung
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-02.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tầm nhìn và sứ mệnh
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-03.png', alt='')
                            h4.box-title
                              a(href='#', title='') ban lãnh đạo
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-04.png', alt='')
                            h4.box-title
                              a(href='#', title='') quá trình phát triển
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-05.png', alt='')
                            h4.box-title
                              a(href='#', title='') sơ đồ tổ chức
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-06.png', alt='')
                            h4.box-title
                              a(href='#', title='') thành tích
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-07.png', alt='')
                            h4.box-title
                              a(href='#', title='') văn phòng
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') nhà máy
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') hồ sơ công ty
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/gt-010.png', alt='')
                            h4.box-title
                              a(href='#', title='') thư viện
                li(class=active == 'tin-tuc' ? 'active' : '')
                  a(href='blog.html') Tin tức
                  .megamenu
                    .megamenu-inner
                      .megamenu-row.new
                        .col4.col-border
                          h4.title-new Bản tin hàng ngày
                          .owl-carousel.owl-new
                            .item
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Chung tay cùng nhân dân Sơn La vượt khó trong những ngày cuối tháng 8
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Diễn tập PCCC & CHCN tại nhà máy Toàn Thắng tháng 9 năm 2017
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Đẩy mạnh chất lượng cán bộ công nhân viên, nâng cao năng lực sản xuất tại Toàn Thắng.
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Lễ ra mắt giới thiệu sản phẩm chậu rửa Toàn Thắng với công nghệ sản xuất hiện đại.
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Kết nối đồng đội - Kỳ nghỉ hè gắn kết thành công của Toàn Thắng tại Cửa Lò - Nghệ An.
                            .item
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                            .item
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Chung tay cùng nhân dân Sơn La vượt khó trong những ngày cuối tháng 8
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Diễn tập PCCC& CHCN tại nhà máy Toàn Thắng tháng 9 năm 2017
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Lễ ra mắt giới thiệu sản phẩm chậu rửa Toàn Thắng với công nghệ sản xuất hiện đại.
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Tổng quan thị trường thép trong nước tháng 9 và 9 tháng đầu năm 2017
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Khởi công xây dựng bể chứa nước Inox 50.000 m3 tại dự án Vinafor Hà Đông. 
                        .col4.col-border
                          h4.title-new Tin khuyến mãi
                          .owl-carousel.owl-new
                            .item
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Chung tay cùng nhân dân Sơn La vượt khó trong những ngày cuối tháng 8
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Diễn tập PCCC& CHCN tại nhà máy Toàn Thắng tháng 9 năm 2017
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                            .item
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Lễ ra mắt sản phẩm chậu rửa Inox liền khối tại Tòa nhà số 8 Quan Trung, Hà Đông.
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Hoàn thiện và bàn giao công trình bồn Inox công nghiệp 30.000 m3 tại dự án SAIGON CENTER
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Khởi động dây truyền sản xuất tấm Panel cho bồn Inox công nghiệp dung tích lơn.
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Khởi công xây dựng bể chứa nước Inox 50.000 m3 tại dự án Vinafor Hà Đông. 
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Tổng quan thị trường thép trong nước tháng 9 và 9 tháng đầu năm 2017
                        .col4
                          h4.title-new Tin chuyên ngành
                          .owl-carousel.owl-new
                            .item
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Tổng quan thị trường thép trong nước tháng 9 và 9 tháng đầu năm 2017
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Khởi động dây truyền sản xuất tấm Panel cho bồn Inox công nghiệp dung tích lớn.
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Khởi động dây truyền sản xuất tấm Panel cho bồn Inox công nghiệp dung tích lớn.
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Hoàn thiện và bàn giao công trình bồn Inox công nghiệp 30.000m3 tại dự án SAIGON CENTER
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Lễ ra mắt sản phẩm chậu rửa Inox liền khối tại Tòa nhà số 8 Quan Trung, Hà Đông.
                            .item
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                              a.item-new(href='single.html')
                                img(src="images/news-menu.jpg")
                                .info
                                  h5 Sản xuất bồn Inox 10.000 lít cho bệnh viện Đa khoa Vĩnh Phúc
                li(class=active == 'san-pham' ? 'active' : '')
                  a(href='shop.html') Sản phẩm
                  .megamenu
                    .megamenu-inner
                      .owl-carousel.owl-product
                        .item
                          .box.text-center
                            a.box-img(href='category-bon-cong-nghiep.html', title='')
                              img.img-responsive(src='images/sp-01.png', alt='')
                            h4.box-title
                              a(href='category-bon-cong-nghiep.html', title='') Bồn công nghiệp
                          .box.text-center
                            a.box-img(href='category-bon-nuoc-inox.html', title='')
                              img.img-responsive(src='images/sp-02.png', alt='')
                            h4.box-title
                              a(href='category-bon-nuoc-inox.html', title='') Bồn nước inox
                        .item
                          .box.text-center
                            a.box-img(href='category-bon-nhua-cao-cap.html', title='')
                              img.img-responsive(src='images/sp-03.png', alt='')
                            h4.box-title
                              a(href='category-bon-nhua-cao-cap.html', title='') Bồn nhựa
                          .box.text-center
                            a.box-img(href='category-2.html', title='')
                              img.img-responsive(src='images/sp-04.png', alt='')
                            h4.box-title
                              a(href='category-2.html', title='') Chậu rửa bat inox
                        .item
                          .box.text-center
                            a.box-img(href='category.html', title='')
                              img.img-responsive(src='images/sp-05.png', alt='')
                            h4.box-title
                              a(href='category.html', title='') Máy nước nóng năng lượng mặt trời
                          .box.text-center
                            a.box-img(href='category.html', title='')
                              img.img-responsive(src='images/sp-06.png', alt='')
                            h4.box-title
                              a(href='category.html', title='') Máy lọc nước R.O
                        .item
                          .box.text-center
                            a.box-img(href='category.html', title='')
                              img.img-responsive(src='images/sp-07.png', alt='')
                            h4.box-title
                              a(href='category.html', title='') Máy nước nóng
                          .box.text-center
                            a.box-img(href='category.html', title='')
                              img.img-responsive(src='images/sp-08.png', alt='')
                            h4.box-title
                              a(href='category.html', title='') Vòi rửa INOX
                        .item
                          .box.text-center
                            a.box-img(href='category.html', title='')
                              img.img-responsive(src='images/sp-09.png', alt='')
                            h4.box-title
                              a(href='category.html', title='') Chậu rửa bát INOX
                          .box.text-center
                            a.box-img(href='category.html', title='')
                              img.img-responsive(src='images/sp-010.png', alt='')
                            h4.box-title
                              a(href='category.html', title='') Máy nước nóng năng lượng mặt trời
                        .item
                          .box.text-center
                            a.box-img(href='category.html', title='')
                              img.img-responsive(src='images/sp-01.png', alt='')
                            h4.box-title
                              a(href='category.html', title='') Máy nước nóng năng lượng mặt trời
                          .box.text-center
                            a.box-img(href='category.html', title='')
                              img.img-responsive(src='images/sp-02.png', alt='')
                            h4.box-title
                              a(href='category.html', title='') Máy lọc nước R.O
                li(class=active == 'co-dong-va-nha-dau-tu' ? 'active' : '')
                  a(href='#') Cổ đông và nhà đầu tư
                  .megamenu
                    .megamenu-inner
                      .owl-carousel.owl-product
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-01.png', alt='')
                            h4.box-title
                              a(href='#', title='') Điều lệ, quy chế quản trị
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-02.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tài liệu ĐHĐCĐ, HĐQT, BKS
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-03.png', alt='')
                            h4.box-title
                              a(href='#', title='') Giao dịch của CĐ nội bộ
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') mẫu biểu
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-05.png', alt='')
                            h4.box-title
                              a(href='#', title='') báo cáo tài chính
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-06.png', alt='')
                            h4.box-title
                              a(href='#', title='') Báo cáo thường niên
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-07.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tin tức cổ phiếu
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') Thông tin công bố
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tư vấn & giải đáp
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-010.png', alt='')
                            h4.box-title
                              a(href='#', title='') vấn đề khác
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-01.png', alt='')
                            h4.box-title
                              a(href='#', title='') Điều lệ, quy chế quản trị
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-02.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tài liệu ĐHĐCĐ, HĐQT, BKS
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-03.png', alt='')
                            h4.box-title
                              a(href='#', title='') Giao dịch của CĐ nội bộ
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') Thông tin công bố
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-05.png', alt='')
                            h4.box-title
                              a(href='#', title='') báo cáo tài chính
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-06.png', alt='')
                            h4.box-title
                              a(href='#', title='') Báo cáo thường niên
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-07.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tin tức cổ phiếu
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') mẫu biểu
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tư vấn & giải đáp
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/cd-010.png', alt='')
                            h4.box-title
                              a(href='#', title='') vấn đề khác
                li(class=active == 'he-thong-phan-phoi' ? 'active' : '')
                  a(href='#') Hệ thống phân phối
                  .megamenu
                    .megamenu-inner
                      .owl-carousel.owl-product
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-01.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tp. hà nội
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-02.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh tuyên quang
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-03.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh yên bái
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-04.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh phú thọ
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-05.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh hòa bình
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-06.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh hải phòng
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-07.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh hưng yên
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh vĩnh phúc
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh hải dương
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-010.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh bắc giang
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-01.png', alt='')
                            h4.box-title
                              a(href='#', title='') Tp. hà nội
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-02.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh tuyên quang
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-03.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh yên bái
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-04.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh phú thọ
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-05.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh hòa bình
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-06.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh hải phòng
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-07.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh hưng yên
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh vĩnh phúc
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh hải dương
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/tp-010.png', alt='')
                            h4.box-title
                              a(href='#', title='') tỉnh bắc giang
                li(class=active == 'tuyen-dung' ? 'active' : '')
                  a(href='#') Tuyển dụng
                  .megamenu
                    .megamenu-inner
                      .owl-carousel.owl-product
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-01.png', alt='')
                            h4.box-title
                              a(href='#', title='') tài chính - kế toán
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-02.png', alt='')
                            h4.box-title
                              a(href='#', title='') hành chính nhân sự
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-03.png', alt='')
                            h4.box-title
                              a(href='#', title='') marketing
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-04.png', alt='')
                            h4.box-title
                              a(href='#', title='') thu mua - xuất nhập khẩu
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-05.png', alt='')
                            h4.box-title
                              a(href='#', title='') kinh doanh
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-06.png', alt='')
                            h4.box-title
                              a(href='#', title='') công nghệ thông tin - it
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-07.png', alt='')
                            h4.box-title
                              a(href='#', title='') lái xe
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') công nhân
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') thợ hàn
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') bốc xếp
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-01.png', alt='')
                            h4.box-title
                              a(href='#', title='') tài chính - kế toán
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-02.png', alt='')
                            h4.box-title
                              a(href='#', title='') hành chính nhân sự
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-03.png', alt='')
                            h4.box-title
                              a(href='#', title='') marketing
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-04.png', alt='')
                            h4.box-title
                              a(href='#', title='') thu mua - xuất nhập khẩu
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-05.png', alt='')
                            h4.box-title
                              a(href='#', title='') kinh doanh
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-06.png', alt='')
                            h4.box-title
                              a(href='#', title='') công nghệ thông tin - it
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-07.png', alt='')
                            h4.box-title
                              a(href='#', title='') lái xe
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-08.png', alt='')
                            h4.box-title
                              a(href='#', title='') công nhân
                        .item
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') thợ hàn
                          .box.text-center
                            a.box-img(href='#', title='')
                              img.img-responsive(src='images/td-09.png', alt='')
                            h4.box-title
                              a(href='#', title='') bốc xếp
                li(class=active == 'lien-he' ? 'active' : '')
                  a(href='#') Liên hệ
                  .megamenu
                    .megamenu-inner
                      .row
                        .col-md-4.col-lg-4
                          h4.heading.color Thông tin
                          // Contact form
                          form.contact-form( name="contact-form" action='/contact/' method='POST')
                            .form-group
                              input.form-control(type='text', placeholder='Họ và tên' name='name')
                            .form-group
                              input.form-control(type='text', placeholder='Email' name='email')
                            .form-group
                              input.form-control(type='text', placeholder='Số điện thoại' name='phone-number')
                            .form-group
                              textarea.form-control(type='text', placeholder='Nhập nội dung' name='content')
                            .form-group
                              button.btn.btn-primary(type='submit') Gửi
                        .col-md-8.col-lg-8
                          iframe(frameborder="0" style="width:100%;height:374px;border:0;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPCgIglOh2FCHMwH5LN4GlVyN4-EVD3HM&zoom=17&q=Space+Needle,Seattle+WA" allowfullscreen)